
{% extends "layout.html" %}
{% load static %}


{% block body%}
    <div class="col-10 col-md-8 mt-5 px-1">
        <h1>Creadit Card</h1>

        {% if message %}
            {{message}}
        {% endif %}

        <div class="mt-4">
            {% if card %}
            <div class="card d-flex  m-2 p-3" id="debit_card">
                    <div class="d-flex flex-wrap mt-2 mb-2 justify-content-between" >
                        <b>{{bank}}</b><img src="{% static 'media/1.png' %}" width="50" alt="">
                    </div>
                    <div class="d-flex flex-wrap mt-2 mb-2 justify-content-center fs-4">
                        <p class="mb-0 text-light" >{{ card.card_number|stringformat:"s"|slice:":4" }}  {{ card.card_number|stringformat:"s"|slice:"4:8" }}  {{ card.card_number|stringformat:"s"|slice:"8:12" }}   {{ card.card_number|stringformat:"s"|slice:"12:16" }}</p>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex">
                            <p  class="mb-0" id="card_exp_date"> <b>Exp: </b> </p> <p  class="mb-0">{{card.expiration_date|date:"m"}}</p>/ <p  class="mb-0">{{card.expiration_date|date:"y"}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <p class="mb-0">{{card.owner.first_name}}  {{card.owner.last_name}}</p>
                        </div>
                        <div class="d-flex ">
                            <p class="mb-0"><b>{{card.type}}</b></p>
                        </div>
                    </div>

            </div>
            <form method="post" action="{% url 'delete_card' id=card.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mx-2">Delete Service Card</button>
            </form>

            {% else %}
                <h5>You don't have this service rigth know</h5>
                <form method="post" action="{% url 'add_card' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mx-2">Ask for new Card</button>
                </form>
            {% endif %}

        </div>
    </div>
    

{% endblock %}