{% extends "layout.html" %}
{% load static %}
{% load humanize %}



{% block body%}
    <div class="col-10 col-md-8 px-1">
        <h1 class="mt-3">Service Detail</h1>
        <div  class=" row d-flex rounded-2 mt-5 p-3 mx-2" id="details_card">

            <table class="table-responsive" >
                <tr >
                    <th class="text-center align-middle">
                        SERVICE NAME
                    </th>
                    <th class="text-center align-middle">
                        AMOUNT
                    </th>
                    <th class="text-center align-middle">
                        STATUS
                    </th>
                    <th class="text-center align-middle">
                        EXPIRATION DATE
                    </th>
                </tr>
                <tr>
                    <td class="text-center align-middle" > 
                        <p>{{service.service_name}}</p>
                    </td>
                    <td class="text-center align-middle">
                        <p>$ {{service.amount_service}}</p>
                    </td>
                    <td class="text-center align-middle justify-content-center">
                        {% if service.state == 'Paid' %}
                            <p style="color: green;">{{service.state | date:"Y-m-d"}} ✔ </p>
                        {% else %}
                            <p style="color: red;"> {{service.state}}</p>
                        {% if message %}
                            {{message}}
                        {% endif %}  
                    {% endif %}
                    </td>
                    <td class="text-center align-middle">
                        {% if courrent_date <= service.expiration_date %}
                            <p >{{service.expiration_date}}</p>
                        {% else %}  
                            <p style="color: red;">{{service.expiration_date}}</p>
                        {% endif %}
                    </td>                    
                </tr>
        </table>
        {% if service.state == 'Paid' %}
            <div>
                <a class="btn btn-primary" id="btn_voucher" href="{% url 'voucher' id=service.service_transaction.id %}" target="_blank">Generate voucher</a>
            </div>
        {% else %}
            <div>
                <form class="form" action="{% url 'service_pay' id=service.id  %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" id="btn_pay">pay</button>
                </form>
            </div>
        {% endif %}
        </div>
    </div>
    
    
{% endblock %}

