{% extends "layout.html" %}
{% load static %}


{% block body%}
    <div class="col-10 col-md-8 px-1 ">
        <h1 class="mt-3"> Transfers </h1>

        <div class="modal   w-50 h-50  ">
            <div class="modal-content ">
                        <div class="modal-close">
                            <button id="btn_modal_close" class="btn-close m-2" aria-label="Close"></button>
                        </div>
                        <div class="modal-generator w-100">
                            <input class="btn btn-primary m-2" type="submit" value="generator" id="codeGenerator" >
                        </div>
                        <div class="modal-check w-100">
                            <input class="m-2" type="text"  placeholder="Code" id="codeInput">
                            <input class="btn btn-primary m-2" type="submit" value="checker" id="codeChecker">
                        </div>
                        
            </div>
        </div>
        <div class="error message bg bg-danger">
            {% if message %}
                {{message}}
            {% endif %}
        </div>
    

        <form class="form" action="{% url 'transfer' %} " method="post">

            {% csrf_token %}
            <div class="mt-5">
                <h3>chooses the amount</h3>
                <input  class="form-control w-50 fs-1 " type="text" name="amount" maxlength="8" inputmode="numeric" pattern="[0-9]+" placeholder="$ 000,0" required >
            </div>
            <div class="mt-5">
                <h5>Choose the recipent account number</h5>
                <input type="text" class="form-control w-50 fs-4 " maxlength="22" minlength="22" name="cbu_recipient" id="" required>
                <br>
            </div>
            <div>
                <button class="btn btn-primary mt-2" id="transfer-button">Transfer</button>
            </div>

        </form>
        <button class=" btn btn-primary mt-2" id="modalBtn" onclick="whatsapp_validation()">SMS Validation</button>


        <div>
            <table class="table-responsive table-borderless  w-100 m-auto">
                <thead>
                    <tr class="m-auto">
                        <th scope="col" class="text-center align-middle p-1" >Date</th>
                        <th scope="col" class="text-center align-middle p-1">Description</th>
                        <th scope="col" class="text-center align-middle p-1">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactionsInPage %}
                        <tr>
                            <td class="text-center align-middle bg-secondary-subtle p-1">{{transaction.date.date}}</td>
                            <td class="text-center align-middle p-1">{{transaction.type}}</td>
                            <td class="text-center align-middle bg-secondary-subtle p-1">
                                {% if transaction.type == "Deposit" %}
                                        $  +{{transaction.transaction_amount}}
                                {% else %}    
                                        {% if transaction.account_sender == account %}
                                            $  -{{transaction.transaction_amount}}
                                        {% else %}
                                            $  +{{transaction.transaction_amount}}
                                        {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'transfer_detail' transactionId=transaction.id %}">View Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <nav class="nav justify-content-center" aria-label="Page navigation example">
            <ul class="pagination">
                {% if transactionsInPage.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{transactionsInPage.previous_page_number}}">Previous</a></li>
                {% endif %}
        
                {% if transactionsInPage.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{transactionsInPage.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        </div>
    
{% endblock %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'javaS.js' %}"></script>
<script  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}